<mat-toolbar color="primary" class="navBar">
    <mat-toolbar-row>
      <img src="./assets/logo.png" class="img-fluid">
      <span class="example-spacer"></span>
      <button mat-button [routerLink]="['/users']">
        Users
        <mat-icon inline=true>account_circle</mat-icon>
      </button>
      <button mat-button [routerLink]="['/presence']">
        Presence
        <mat-icon inline=true>assignment</mat-icon>
      </button>
      <button mat-button [routerLink]="['/']">
        Settings
        <mat-icon inline=true>settings</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  