.mat-form-field {
    display: block;
}

textarea {
    height: 100px;
    resize: vertical;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .buttonCancel{
    float: right;
    margin-right: 10px;
  }